@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

html, body, #root {
  height: 100%;
}

body {
  background: #000;
}

.select-clean {
  @apply bg-neutral-900 text-white px-4 py-2 rounded-xl border border-neutral-800 outline-none;
}

.card {
  @apply bg-neutral-900/60 backdrop-blur-sm border border-neutral-800 rounded-2xl shadow-xl p-6;
}
